.footer {
    background-color: #219150;
    color: white;
    display: flex;
    padding: 20px 15px; /* Increased padding for better spacing */
    flex-wrap: wrap;
    gap: 40px;
    
}

.footer-element {
    align-items: center;
    text-align: center;
    flex: 1 1 300px;
}

.footer-element h1 {
    font-size: 24px;
    text-align: center;
    margin-left: -15px;
}

.about,
.links,
.medias {
    margin-top: 10px;
    text-align: unset;
    font-size: 16px;
    color: white;
}

.about{
    margin-left: 30px;
}

.links{
    margin-left: -15px;
}

.footer-element p {
    margin: 5px 0;
}

.footer-element .medias a {
    color: white;
    font-size: 20px;
}

.about a,
.links a,
.medias a{
    margin: 10px;
    color: white;
}


.footer-element .medias a:last-child {
    margin-right: 0;
}

.about a:hover,
.links a:hover,
.medias a:hover{
    text-decoration: underline;
}

.medias{
    margin-left: -20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
