:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.sidebar {
    height: 100vh;
    width: 20%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    overflow-x: hidden;
    padding-top: 10px;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }

  .sidebar .navlink{
    width: auto;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    margin-left: 15px;
  }

  .sidebar .navlink:hover{
    background-color: rgb(20, 86, 20);
  }  

  .sidebar .navlink span{
    margin-right: 20px;
  }
  .sidebar .active {
    font-weight: bold;
    background-color: rgb(11, 112, 11);
  }

  .sidebar .logo{
    padding-bottom: 20px;
  }

  .sidebar .logo img{
    height: 100px; 
    width: 100px;
  }
  .sidebar .logo h1{
    margin-top: 35px;
    margin-left: -10px;
    color: white;

  }