.book-form{
    margin: auto;
    margin-top: 10px;
    gap: 100px;
    justify-content: center;
    width: 1200px;
    height: 620px;
}
.book-form form{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.book-form form h1{
    padding: 30px;
    margin-left: 70px;
}
.book-form .image img{
    height: 400px;
    width: 400px;
    
}
.book-form .image input[type= "file"]{
    display: none;
}
.book-form form .form label{
    margin-bottom: 5px;
    font-size: 16px;
}

.book-form form .form input {
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
    float: left;
    font-size: 16px;
}
.book-form form .form .select {
    font-size: 16px;
}

.book-form form .form input:focus{
    border: 2px solid #27ae60;
 }

.book-form form .form .form-content{
    margin-top: 100px;
    padding-left: 30px;
    padding-top: 50px;
}

.book-form form .form .button{
    height: 40px;
    width: 100%;
    background-color: #228B22;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
}